{% extends 'base.jinja' %}
{% block title %}Top Customers{% endblock %}
{% block content %}

  <h1>Customers</h1>

  <ol style="column-count: 4">
    {% for customer in customers %}
      <li>
        <a href="/{{ customer.id }}/">
          {{ customer.fullName() }}
        </a>
        <span>{{ customer.numReservations }}</span>
      </li>
    {% endfor %}
  </ol>

{% endblock %}