{% extends 'base.jinja' %}
{% block title %}Top Customers{% endblock %}
{% block content %}

  <h1>Customers</h1>

  <ol>
    {% for singleCustomer in customerData %}
      <li>
        <a href="/{{ singleCustomer.customer.id }}/">
          {{ singleCustomer.customer.fullName }}
        </a>
        <span>({{ singleCustomer.numReservations }} reservations)</span>
      </li>
    {% endfor %}
  </ol>

{% endblock %}